
.into-img{
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    

}

.login-Section{
    width: 550px;
    height: 400px;
    background-color: #2E333E;
    opacity: 80%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 33px;
    border-radius: 25px;
    border-radius: 7px;
    border-radius: 0px;
    box-shadow:  5px 5px 2px goldenrod,
             -5px -5px 2px goldenrod;

}
.login-name{
    width: 100%;
    height: 60px;
    background-color: #01091b;
    bottom: 20px;
    position: relative;
}
.login-name h1{
    color: goldenrod;
    text-align: center;
    position: relative;
    top: 10px;
    
}

.form__group {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    gap: 10px;
    position: relative;
    top: 80px;
    left: 100px;
  }



  
  .input {
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color: #ccc;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
    transition: 300ms ease-in-out;
    
  }
  
  .input:focus {
    background-color: white;
    transform: scale(1.05);
    box-shadow: 13px 13px 100px #969696,
               -13px -13px 100px #ffffff;
  }


  .btn:link,
.btn:visited {
 text-transform: uppercase;
 text-decoration: none;
 color: rgb(255, 208, 0);
 padding: 10px 30px;
 border: 1px solid;
 border-radius: 1000px;
 display: inline-block;
 transition: all .2s;
 position: relative;
 left: 350px;
 top: 110px;
}

.btn:hover {
 transform: translateY(-5px);
 box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
}

.btn:active {
 transform: translateY(-3px);
}

.btn::after {
 content: "";
 display: inline-block;
 height: 100%;
 width: 100%;
 border-radius: 100px;
 top: 0;
 left: 0;
 position: absolute;
 z-index: -1;
 transition: all .3s;
}

.btn:hover::after {
 background-color: rgb(14, 90, 144);
 transform: scaleX(1.4) scaleY(1.5);
 opacity: 0;
}